
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css") layer(framework);
@import "layout.css";

.list ul {
    position: relative;
    justify-content: start;
    align-items: start;
    right: 220px;

}

.order-online {
    text-decoration: black;
    color: black;
    font-size: 12px;
}

.menu {
    text-decoration: black;
    color: gray;
    font-size: 12px;
}
.bi-person-fill{
    position: relative;
    align-items: end;
    right: -730px;

}

.sign-up {
    position: absolute;
    list-style: none;
    right: -1350px;
    top: 3px;
    color: black;

}

input {
    color: blue;
    background-color: white;

}

.pizza-image {
    height: 346px;

}

.bg-light{
    position: absolute;
    justify-content: center;
    right: 200px;
    top: 200px;
    width: 1040px;
    background-image: var(--bs-gradient);
    text-align: center;
    font-size: 30px;
    /*font-weight: bold;*/


}

.bg-secondary {
    border-radius: 999px;
}

.Title {
    position: relative;
    justify-content: start;
    right: -200px;
}

.nav-tabs {
    position: relative;
    justify-content: start;
    right: -200px;
}

.p-3 {
    position: relative;
    justify-content: start;
    right: -200px;
}
.card {
    position: relative;
    /*justify-content: start;*/
    right: -200px;
}

.btn-primary {
    position: relative;
    right: -900px;

}



